<div class="app-page">
    <app-input-tseries (inputEvent)="addHandler($event)"></app-input-tseries>
    <input type="file" (change)="onImport($event)"/>
    <div id="floating-panel">

        <button class="btn" mat-raised-button color="warn" id="simulate" type="button" [hidden]="hide">Start Simulation</button>
        <button class="btn" mat-stroked-button color="warn" id="pause" type="button">Pause</button>
        <button class="btn" mat-stroked-button color="accent" id="play" type="button">Play</button>

        <button class="btn" mat-raised-button color="accent" id="clear" type="button">Clear</button>
    </div>
    <div #maps id="map-canvas">
        
    </div>
</div>