#map-canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 67%;
    z-index: 100;
}

.floating-panel {
    margin-bottom: -20px;
}

.app-page {
    color: white;
}

.btn {
    margin-top: 10px;
    margin-left: 2%;
  }

