mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
    font-size: 13px;
    color: white;
  }

  ejs-datetimepicker {
    color: white;
    background-color: rgb(125, 104, 104);
  }

  .dateContainer {
    width: 230px;
    margin: 5% auto;
  }

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100;
}

h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

  .header {
    margin-top: -20px;
    margin-bottom: -20px;;
  }
  
  .btn {
    display: table-cell;
    margin-bottom: 25%;
    margin-left: 25%;
  }
  /* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important; //remove border if needed 
  } */
  
  .mat-button { 
    padding: 0 30px; /* Changes position of dropdown icons */
  }
  
mat-icon {
    width: 50px;
}

/////////////////////////////////////////
/// 

.example-full-width {
  width: 100%;
}

.floating-panel {
    margin-top: 50%;
}