
<div id="floating-panel">
    <div class="inputContainer" style="margin-top: 30px;">
        <table class="header">
            <tr>
                <td>
                    <img src="../../assets/imgs/drone-6.png" width="50px" />
                </td>
                <td>
                    <h2>Drone Simulator</h2>
                </td>
                <td>
                    <h4>&nbsp; &nbsp;(<b>3-input choices for coordinates</b> : 1. Enter by user input   |   2. Enter by file upload   |   3. Enter by clicking on map)</h4>
                </td>
            </tr>
        </table>
        <table class="" cellspacing="0"><tr>
            <td>
                <div class="dateContainer">
                    <ejs-datetimepicker [(ngModel)]="inputObject.timestamp" name="timestamp" placeholder="Timestamp"></ejs-datetimepicker>
                </div>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Latitude</mat-label>
                <input matInput [(ngModel)]="inputObject.lat" type="number" name="latitude" placeholder="" class="" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Longitude</mat-label>
                <input matInput [(ngModel)]="inputObject.lng" type="number" name="longitude" placeholder="" class="" />
                </mat-form-field>
            </td>
            <td>
                <button class="btn" mat-raised-button color="accent" (click)="addEvent()">Add</button>
            </td>
            </tr></table>
    </div>

</div>